p {
  color: red;
}

h1 {
  color: red;
  text-align: center;

}

h6 {
  text-align: center;
  font: #00008B;
  font-size: 20px;
}

.flash-msg {
  display: none;
}

#board {
  margin: auto;
  width: 900px;

}

.blank {
  background-color: white;
  height: 80px;
  width: 80px;
  border: 5px solid black;
}

.column {
  float: left;
}

#newgame{
  margin: 20px;
  float: left;
}

.button {
  font-size: 18px;
  width: 80px;
}

.bluepiece {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: blue;
  margin: 5px auto;
}

.redpiece {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: red;
  margin: 5px auto;
}
